@media only screen and (max-width: 1200px) {
  .main-wrapper > section:first-child h1 {
    font-size: 40px; }
  .main-wrapper > section:first-child > div img {
    height: 400px; }

  form {
    margin: 0;
    margin-right: 20px; }
    form div input {
      margin-right: 15px; }
    form .textarea {
      max-width: 688px; } }
@media only screen and (max-width: 992px) {
  .slider-container {
    height: 500px; }

  .thumbnails-wrapper {
    max-width: 900px; }

  .main-wrapper > section:first-child h1 {
    font-size: 30px; }
  .main-wrapper > section:first-child > div img {
    height: 350px; }

  header ul li {
    margin-right: 60px; }

  form {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    form div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      margin-right: 50px; }
      form div input {
        margin-right: 0; }
    form .textarea {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: start;
      max-width: 330px;
      margin-right: 50px; } }
@media only screen and (max-width: 840px) {
  header ul li {
    margin-right: 40px; }

  .slider-container {
    height: 400px; }

  .thumbnails-wrapper {
    max-width: 800px; }

  form {
    margin-right: 0; }
    form div {
      margin-right: 20px; }
    form .textarea {
      max-width: 330px;
      margin-right: 20px; } }
@media only screen and (max-width: 768px) {
  .main-wrapper > section:first-child h1 {
    font-size: 25px; }
  .main-wrapper > section:first-child h2 {
    font-size: 18px; }
  .main-wrapper > section:first-child > div img {
    height: 300px; }

  header ul li {
    margin-right: 15px;
    font-size: 14px; }

  .slider-container {
    height: 350px; }

  .thumbnails-wrapper {
    max-width: 750px;
    margin-top: 20px; }
    .thumbnails-wrapper #scroller {
      display: none; }

  .thumbnails div {
    height: 150px;
    width: 250px; }

  .slides-page div {
    height: 53vh; }

  form {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
    form div {
      margin-right: 20px; }
    form .textarea {
      max-width: 330px;
      margin-right: 20px; }
    form button {
      margin-right: 20px; }
    form h2 {
      font-size: 30px; }

  .contact-us aside {
    width: 250px; } }
@media only screen and (max-width: 640px) {
  .slider-container {
    height: 300px; }
    .slider-container .control-left, .slider-container .control-right {
      font-size: 60px; }

  .thumbnails-wrapper {
    max-width: 630px; }

  .thumbnails div {
    height: 120px;
    width: 200px; }

  .slides-page {
    padding: 0; }
    .slides-page div {
      height: 38vh;
      text-align: center; }
      .slides-page div:last-child {
        margin-top: -100px; }

  form div {
    margin-right: 20px; }
    form div input {
      width: 250px; }
  form .textarea {
    max-width: 250px;
    margin-right: 20px; }
  form button {
    margin-right: 20px; }
  form h2 {
    font-size: 25px; }

  .contact-us aside {
    width: 200px; } }
@media only screen and (max-width: 480px) {
  .main-wrapper > section:first-child > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  header {
    padding-left: 5px; }
    header ul {
      padding-left: 0; }
      header ul li {
        margin-right: 10px;
        font-size: 12px; }

  .slider-container {
    height: 250px; }
    .slider-container .control-left, .slider-container .control-right {
      font-size: 50px; }

  .thumbnails-wrapper {
    max-width: 450px; }

  .thumbnails div {
    height: 80px;
    width: 130px; }

  .slides-page div {
    height: 30vh;
    text-align: center;
    max-width: 400px; }
    .slides-page div:last-child {
      margin-top: -100px; }

  form div {
    margin-right: 10px; }
    form div input {
      width: 230px; }
  form .textarea {
    max-width: 230px;
    margin-right: 10px; }
  form button {
    margin-right: 10px;
    font-size: 16px;
    padding: 40px 95px; }
  form h2 {
    font-size: 18px; }

  .contact-us aside {
    width: 150px; } }

/*# sourceMappingURL=media.css.map */