// @import ./slider

html, body
  margin: 0
  padding: 0
body
  font-family: Montserrat
  font-weight: bold
  color: #000
  background-color: rgba(000, 255, 255, .06)
  transition: all 0.5s ease
header
  display: flex
  justify-content: space-between
  align-items: center
  background: rgb(237, 213, 90)
  padding-left: 50px
  ul
    display: flex
    li
      text-transform: uppercase
      list-style-type: none
      margin-right: 80px
      a
        white-space: nowrap
        text-decoration: none
        color: #000000
  img
    height: 80px
    width: auto

.main-wrapper
  >section
    padding: 25px
    height: 100%
    &:first-child
      height: 100%
      margin: 0
      padding: 0
      padding-bottom: 90px
      background-image: url('../assets/img/bg_&_logos/welcome_bg.jpg')
      background-size: cover
      background-position-y: 60%
      h1
        font-size: 42px
        margin: 0px
        text-transform: uppercase
        font-weight: bolder
      h2
        font-size: 25px
        margin-top: 15px
        font-weight: bolder
      >div
        display: flex
        justify-content: center
        align-items: flex-start
        margin-top: 100px
        font-size: 40px
        img
          max-height: 650px
          width: auto
        section
          text-align: center
          margin-left: 110px
          img
            height: 80px
            width: auto

.main-wrapper
  >section
    &:last-child
      margin: 0
      padding: 0
      background-image: url('../assets/img/bg_&_logos/сontact_us_bg.jpg')
      background-size: cover
.slides-page
  display: flex
  flex-direction: column
  transition: all 0.5s ease
  padding-bottom: 20px
  div
    margin-bottom: 20px
    img
      width: 100%
      transition: all 0.5s ease
      border-radius: 5px

// slider
.slider-container
  width: 80%
  margin: 0 auto
  position: relative
  .control-left, .control-right
    position: absolute
    cursor: pointer
    height: 100%
    transition: all .5s
    top: 0
    color: #c3c3c3
    font-size: 80px
    font-weight: normal
    z-index: 3
    display: flex
    align-items: center
    width: 10%
    &:hover
      background-color: rgba(000, 000, 000, .2)
      color: rgb(237, 213, 90)
  .control-left
    left: 0
  .control-right
    right: 0
  .slide
    display: flex
    align-items: center
    justify-content: center
    position: relative
    cursor: zoom-in
    img
      width: 100%
.thumbnails
  overflow-y: scroll
  display: flex
  flex-direction: row
  div
    height: 200px
    margin: 0 12px
    cursor: pointer
    &:first-child
      margin-left: 0
    img
      height: 100%
      width: auto

  &::-webkit-scrollbar
    width: 0px
    height: 0px

.thumbnails-wrapper
  margin: 0 auto
  width: 80%
  margin-bottom: 50px
  #scroller
    position: relative
    height: 1px
    background: #000
    margin: 30px 0
    div
      position: absolute
      height: 23px
      width: 80px
      border-radius: 3px
      background-color: #464545
      top: -11px
      cursor: pointer
.slider-container.full-screen
  .slide
    height: 100%
    width: 100%
    top: 0
    left: 0
    z-index: 2
    position: fixed
    cursor: zoom-out
    background-color: rgba(000, 000, 000, .7)
  .control-left, .control-right
    position: fixed

//Contact us
section.contact-us
  height: 100%
  min-height: 100vh
.contact-us
  position: relative
  display: flex
  // align-items: center
  justify-content: flex-start
  aside
    position: absolute
    left: 0
    top: 0
    width: 18%
    background-color: rgba(255, 255, 255, .6)
    height: 100%
    display: flex
    align-items: center
    justify-content: start
    flex-direction: column
    padding: 0 5px
    img
      margin-top: 100px
      height: 80px
      width: auto
    a
      text-decoration: none
      color: #000000
      font-weight: 500
      font-size: 15px
      margin-top: 20px
    h3
      margin-bottom: 0
      font-size: 18px
    section
      margin-top: 30px
      text-align: center
      p
        margin: 0
        margin-top: 10px
        font-weight: 500
      h3
        font-size: 16px
form
  max-width: 805px
  margin-left: 23%
  margin-top: 100px
  h2
    font-size: 40px
    text-align: center
    font-weight: bolder
  div
    input
      height: 45px
      width: 330px
      background-color: #ffffff
      padding-left: 5px
      font-size: 16px
      margin-bottom: 40px
      border: none
      margin-right: 40px
      &::-webkit-input-placeholder
        color: #000000
      &::-moz-placeholder
        color: #000000
      &:-moz-placeholder
        color: #000000
      &:-ms-input-placeholder
        color: #000000
        margin-bottom: 30px
      input:last-child
        margin-right: 0
        // margin-bottom: 0
  button
    text-transform: uppercase
    background-color: rgb(237, 213, 90)
    padding: 40px 90px
    font-weight: bold
    font-size: 18px
    margin-top: 25px
    border: none
    cursor: pointer
  .textarea
    font-family: Montserrat
    width: 707px
    height: 100px
    padding-top: 10px
    padding-left: 5px
    font: medium -moz-fixed
    font: -webkit-small-control
    resize: both
    overflow: auto
    background-color: #fff
    font-size: 16px
    margin-right: 0

// Media
@media only screen and (max-width : 1200px)
  .main-wrapper >section
    &:first-child
      h1
        font-size: 40px
      >div
        img
          height: 400px

// Medium Devices, Desktops
@media only screen and (max-width : 992px)
  .thumbnails-wrapper
    max-width: 900px
  .main-wrapper >section
    &:first-child
      h1
        font-size: 30px
      >div
        img
          height: 350px
  header ul li
    margin-right: 60px
  form
    display: flex
    flex-direction: column
    align-items: center
    div
      display: flex
      flex-direction: column
      align-items: flex-end
      margin-right: 50px
      input
        margin-right: 0
    .textarea
      flex-direction: row
      // align-items: start
      max-width: 330px
      margin-right: 50px
@media only screen and (max-width : 840px)
  header ul li
    margin-right: 40px
  .thumbnails-wrapper
    max-width: 800px
  form
    div
      margin-right: 20px
    .textarea
      max-width: 330px
      margin-right: 20px
@media only screen and (max-width : 768px)
  .slider-container
    width: 100%
  .thumbnails-wrapper
    width: 100%
  .main-wrapper >section
    &:first-child
      padding-bottom: 30px
      h1
        font-size: 25px
      h2
        font-size: 18px
      >div
        margin-top: 50px
        img
          height: 300px
  header ul li
    margin-right: 15px
    font-size: 14px
  header img
    height: 60px
  .thumbnails-wrapper
    max-width: 750px
    margin-top: 20px
    #scroller
      display: none
  .thumbnails div
    height: 150px
    width: 250px
  form
    margin-left: 30%
    div
      margin-right: 20px
      margin-bottom: 30px
      input:last-child
        margin-bottom: 0
    .textarea
      max-width: 330px
      margin-right: 20px
    button
      margin-right: 20px
    h2
      font-size: 30px
  .contact-us
    aside
      width: 21%
  .main-wrapper
    >section
      &:first-child
        >div section img
          height: 60px
@media only screen and (max-width : 640px)
  .slider-container
    .control-left, .control-right
      font-size: 60px
  .thumbnails-wrapper
    max-width: 630px
  .thumbnails div
    height: 120px
    width: 200px
  form
    margin-left: 35%
    div
      margin-right: 20px
      input
        width: 250px
    .textarea
      max-width: 250px
      margin-right: 20px
    button
      margin-right: 20px
    h2
      font-size: 25px
  .contact-us
    aside
      width: 29%

@media only screen and (max-width : 480px)
  .main-wrapper >section
    &:first-child
      >div
        flex-direction: column-reverse
        align-items: center
        margin-top: 30px
        section
          margin: auto
  header
    padding-left: 5px
    ul
      padding-left: 0
      li
        margin-right: 10px
        font-size: 12px
  .slider-container
    .control-left, .control-right
      font-size: 50px
  .thumbnails-wrapper
    max-width: 450px
  .thumbnails div
    height: 80px
    width: 130px
  form
    margin: auto
    margin-bottom: 20px
    div
      width: 100%
      margin-right: 0
      input
        width: 100%
        margin-left: 5px
    .textarea
      width: 100%
      max-width: 100%
      margin-right: 10px
    button
      margin-right: 10px
      font-size: 16px
      padding: 40px 95px
    h2
      font-size: 22px
  .contact-us
    flex-direction: column
    aside
      width: auto
      position: relative
      width: 97%
      padding-bottom: 20px
      img
        margin: 0
// @media only screen and (max-width : 320px)
